__pycache__/
.idea
db.sqlite3
django_back_api/.env
django_back_api/__pycache__/
promotions/migrations
users/migrations
study_partners/migrations
vacancy_partners/migrations
ads/migrations
courses/migrations
media
skills/migrations
specialties/migrations
teachers/migrations
vacancies/migrations
comments/migrations
orders/migrations
webmaster/migrations
django_back_api/todo.txt
static
django_back_api/temp.py
temp.py
parsers/env.py
django.log
django_back_api/settingsdev.py
/reactions/migrations